<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2">
	<listeners>
		<listener class-name="com.cs.listner.ListnerClass"></listener>
		<listener class-name="com.cs.listner.MethodInterceptor"></listener>
		<listener class-name="com.cs.listner.AnnotationTransformer"></listener>
	</listeners>
	<test  name="Test" parallel="methods">
		<classes>
			<class name="com.cs.tests.HrmLoginTest" />
			<class name="com.cs.tests.AmazoneTestCase" />
			<class name="com.cs.tests.GetTitleTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
